<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="col-4 m-auto">
  <h1>Admin Dashboard</h1>
  <ul class="list-group">
    <li class="list-group-item"><a href="/admin/managers" class="text-decoration-none text-reset">Manage Managers</a></li>
    <li class="list-group-item"><a href="/admin/categories" class="text-decoration-none text-reset">Manage Categories</a></li>
    <li class="list-group-item"><a href="/admin/subcategories" class="text-decoration-none text-reset">Manage Subcategories</a></li>
    <li class="list-group-item"><a href="/admin/brands" class="text-decoration-none text-reset">Manage Brands</a></li>
    <li class="list-group-item"><a href="/admin/products" class="text-decoration-none text-reset">Manage Products</a></li>
  </ul>
</div>
  <%- include('../partials/footer') %>
</body>
</html>
