<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manage Managers</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="col-6 m-auto">
  <h1>Manage Managers</h1>
  <form action="/admin/managers" method="POST">
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="text" id="form2Example1" name="username" class="form-control" />
      <label class="form-label" for="form2Example1">Name</label>
    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="email" id="form2Example1" name="email" class="form-control" />
      <label class="form-label" for="form2Example1">Email address</label>
    </div>
  
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" name="password"/>
      <label class="form-label" for="form2Example2">Password</label>
    </div>

    <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Add Managers</button>

  </form>
    <table class="table table-hover">
      <tr>
        <th>User Name</th>
        <th>Email</th>
      </tr>
      <% managers.forEach(manager => { %>
        <tr>
          <td><%= manager.username %></td>
          <td><%= manager.email %></td>
        </tr>

      <% }) %>
    </table>

</div>
  <%- include('../partials/footer') %>
</body>
</html>
