<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signup</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="col-4 m-auto mt-3">
      <h1 class="text-center">Signup</h1>
      <form action="/auth/signup" method="POST">
        <div class="border rounded shadow p-4">
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Name :</label>
            <input
              type="text"
              id="form2Example1"
              name="username"
              class="form-control"
              placeholder="Enter name"
            />
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Email :</label>
            <input
              type="email"
              id="form2Example1"
              name="email"
              class="form-control"
              placeholder="Enter email"
            />
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password :</label>
            <input
              type="password"
              id="form2Example2"
              class="form-control"
              name="password"
              placeholder="Enter Password"
            />
          </div>

          <button
            type="submit"
            data-mdb-button-init
            data-mdb-ripple-init
            class="btn btn-success form-control btn-block mb-4"
          >
            Sign Up >>>
          </button>

          <div class="text-center">
            <p>Already have an Account? <a href="/auth/login"> Login</a></p>
          </div>
        </div>
      </form>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
