<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manager Dashboard</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="col-4 m-auto">

  
  <h1>Manager Dashboard</h1>
  <nav>
   
    <ul class="list-group">
      <li class="list-group-item"><a href="/manager/categories" class="text-decoration-none text-reset">Manage Categories</a></li>
      <li class="list-group-item"><a href="/manager/subcategories" class="text-decoration-none text-reset">Manage Subcategories</a></li>
      <li class="list-group-item"><a href="/manager/brands" class="text-decoration-none text-reset">Manage Brands</a></li>
      <li class="list-group-item"><a href="/manager/products" class="text-decoration-none text-reset">Add Products</a></li>
    </ul>
  </nav>
</div>
  <%- include('../partials/footer') %>
</body>
</html>
